name: OpenBSD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build on OpenBSD
        uses: vmactions/openbsd-vm@v1
        with:
          usesh: true
          prepare: |
            set -x
            pkg_add ccache git gmake libevdev-openbsd libinput-openbsd libxkbcommon mpv ninja wayland wayland-protocols
          run: |
            set -x
            git config --global --add safe.directory "$PWD"
            CFLAGS="-Werror" ./configure
            CFLAGS="-Werror" ninja -C build
            ./build/dmpv --version
